<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bzzzzzzzzzzzzzzzzzzzzzzzzzootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script defer src="https://kit.fontawesome.com/4c01eff087.js" crossorigin="anonymous"></script>
    <title>RestCountriesExample</title>
</head>
<body>
    <header></header>
    <main>
        <div class="m-1 mt-4 p-2">
            <form id="form-countries" action="" method="GET">
                <input id="input-search" type="text" name="keyword" placeholder="Buscar países...">
                <button id="button-search" name="keyword" type="submit">Buscar paises
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="" id="search-result">
            
        </div>
        
        
    </main>
    <footer></footer>
    <script src="../javascripts/restCountriesExample.js"></script>
</body>
</html>